body {
    height: 100vh;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 1em;
    height: 100px;
}

p {
    font-size: 40px;
    background-color: blue;
    z-index: 1;
}

#p {
    position: absolute;
    background-color: green;
    z-index: 2;
}